/*
 * @file
 * Visual styling for dropbuttons.
 */

/* Reset styling for all elements. */
.js .dropbutton .dropbutton-action > a,
.js .dropbutton .dropbutton-action > input,
.js .dropbutton .dropbutton-action > button {
  padding: 0;
  margin: 0;
  font-weight: 400;
  text-align: left; /* LTR */
  color: #fff;
  line-height: normal;
  text-decoration: none;
}
[dir="rtl"].js .dropbutton .dropbutton-action > a,
[dir="rtl"].js .dropbutton .dropbutton-action > input,
[dir="rtl"].js .dropbutton .dropbutton-action > button {
  text-align: right;
  margin-left: 0; 
}

/* Position like other buttons. */
.dropbutton-wrapper {
  margin: 0 2px;
  /*transition: none;*/
}
.js .dropbutton-widget {
  border: 0;
}
.dropbutton-multiple .dropbutton {
  border: 0;
}
.js .dropbutton-multiple .dropbutton-widget {
  padding-right: 2em;
  border-radius: 20em;
  overflow: hidden;
}
.dropbutton-multiple.open .dropbutton-widget {
  border-radius: 1em;
}
.js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-action button {
  border-radius: 0;
  padding: 6px 14px;
  display: block;
  width: 100%;
}
.dropbutton .secondary-action {
  border: 0;
}

/* Single button. */
.dropbutton-single .dropbutton-widget {
  position: static;
  display: inline-block;
  border: 0;
  border-radius: 1em;
}
.dropbutton-single .dropbutton-action a {
  width: auto!important;
  padding: 4px 1em;
  border: 0;
  text-decoration: none;
  transition: background 0.5s;
}
.dropbutton-single .dropbutton-action a:hover,
.dropbutton-single .dropbutton-action a:focus {
  text-decoration: none;
  outline: none;
}

/* The dropdown trigger. */
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-left: 1px solid rgba(255,255,255,0.5); /* LTR */
  outline: none;
}
[dir="rtl"].js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-right: 1px solid rgba(255,255,255,0.5);
  border-left: 0;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background:transparent;
  z-index: 3;
}
.dropbutton-widget {
  border: 0;
  color: #eee;
}
.dropbutton-widget:hover {
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.5);
}
.dropbutton-toggle button {
  border-bottom-right-radius: 1em; /* LTR */
  border-top-right-radius: 1em; /* LTR */
  border-style: solid;
  border-color: rgba(255,255,255,0.5);
  border-left-width: 1px; /* LTR */
  transition: background .5s ease;
}
[dir="rtl"] .dropbutton-toggle button {
  border-radius: 0;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  border-width: 0;
  border-right-width: 1px;
}
.dropbutton .dropbutton-action:hover,
.dropbutton a:hover {
  background: transparent;
}
.dropbutton a {
  padding: 0.1em 0.8em;
  color: #eee;
  font-size: 90%;
  line-height: 1.8;
  transition: none;
}
.dropbutton:hover a {
  color: #fff;
}

/* Change the arrow color and position. */
span.dropbutton-arrow {
  right: 40%;
  top: 50%;
  color: #fff;
}
.js .dropbutton-toggle .dropbutton-arrow:hover {
  background: transparent;
}

.js td .dropbutton-widget {
  border-radius: 1em;
}
td .dropbutton-multiple .dropbutton {
  border-right: 0;
  border-left: 0;
}
td .dropbutton .secondary-action {
  border-top: 0;
}
.js .dropbutton-widget {
  background-color: #277abd;
}
.dropbutton-action > .js-form-submit.form-submit,
.dropbutton-toggle button {
  background: #277abd;
  background-color: #277abd;
  background-image: none;
  text-shadow: none;
  position: relative;
}
.dropbutton-action > .js-form-submit.form-submit:hover {
  background-color: #2b8bd8;
}
@media screen and (min-width: 0em) {
  /* When dropbuttons are 100% center the text. */
  .js .dropbutton-widget .dropbutton-action input {
    text-align: center;
  }
  .js .dropbutton-wrapper {
    width: 100%;
    margin-bottom: 10px;
  }
  .js td .dropbutton-wrapper {
    margin-bottom: 0;
  }
  /* Push the widget to the right so text expands left. */
  .js td .dropbutton-widget {
    position: absolute;
    right: 0;
  }
  [dir="rtl"] .js td .dropbutton-widget {
    left: 0;
  }
  /* Push the wrapper to the right edge of the td. */
  .js td .dropbutton-multiple {
    float: right;
    padding-right: 0;
    margin-right: 0;
  }
  [dir="rtl"].js td .dropbutton-multiple {
    float: left;
    padding-right: 0;
    margin-right: 0;
  }
  .js td .dropbutton-widget .dropbutton {
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  /* Push the text out of the way when button collapses to a circle. */
  .js td .dropbutton li,
  .js td .dropbutton a {
    margin-left: -9999px;
  }
  td .dropbutton-multiple.open .dropbutton li,
  td .dropbutton-multiple.open .dropbutton a {
    margin-left: 0;
  }
  /* Align operations with the circle button. */
  th:last-child {
    text-align: right;
  }
  td .dropbutton-toggle {
    width: 2em;
  }
  .js td .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
    border-left: 0;
  }
  span.dropbutton-arrow {
    right: 8px;
    top: 13px;
  }
}
/* Ensure buttons will not collapse on most tablets. */
@media screen and (min-width: 401px) {
  .js td .dropbutton-wrapper {
    width: 100%;
  }
  .js td .dropbutton-wrapper {
    margin-bottom: 0;
  }
  .js td .dropbutton-widget {
    position: absolute;
    right: 0;
  }
  .js td .dropbutton-widget .dropbutton {
    margin: 0;
    overflow: hidden;
    padding: 0;
  }
  .js td .dropbutton li,
  .js td .dropbutton a {
    margin-left: 0;
  }
  .js td .dropbutton-multiple .dropbutton-widget {
    max-width: 100%;
  }
  .js td .dropbutton-multiple.open .dropbutton-widget {
    max-width: none;
  }
  td .dropbutton-multiple.open .dropbutton li,
  td .dropbutton-multiple.open .dropbutton a {
    margin-left: 0;
  }
  td .dropbutton-toggle {
    width: 2em;
  }
}
@media screen and (min-width:600px) {
  .js .dropbutton-wrapper {
    width: auto;
  }
  .js .dropbutton-widget .dropbutton-action input {
    text-align: left;
  }
  td .form-actions .dropbutton-wrapper {
    float: right; /* LTR */
  }
  [dir="rtl"] td .form-actions .dropbutton-wrapper {
    float: left;
  }
}
