/*
 * @file
 * Visual styling for dropbuttons.
 */

/* Reset styling for all elements. KEEP */
.js .dropbutton .dropbutton-action > input,
.js .dropbutton .dropbutton-action > a,
.js .dropbutton .dropbutton-action > button {
  text-decoration: none;
  color: #fff;
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: normal;
  text-align: left; /* LTR */
}
[dir="rtl"].js .dropbutton .dropbutton-action > input,
[dir="rtl"].js .dropbutton .dropbutton-action > a,
[dir="rtl"].js .dropbutton .dropbutton-action > button {
  text-align: right;
  margin-left: 0; 
}

/* Position like other buttons. */
.dropbutton-wrapper {
  margin: 0 2px;
}
.js .dropbutton-widget {
  border: 0;
  background: #777;
}
.dropbutton-multiple.open .dropbutton-widget {
  border-radius: 1em;
}
.js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-action button {
  border-radius: 20em 0 0 20em; /* LTR */
  padding: 6px 14px;
  display: block;
  width: 100%;
}
.dropbutton .secondary-action {
  border-top: 1px solid #777;
}
.js .dropbutton-action.last {
  border-radius: 0 0 0 1em; /* LTR */
}
[dir="rtl"] .js .dropbutton-action.last {
  border-radius: 0 0 1em 0;
}

/* Single button. */
.dropbutton-single .dropbutton-widget {
  border: 0;
  position: static;
  display: inline-block;
}
.dropbutton-single .dropbutton-action a {
  padding: 4px 1em;
  border: 0;
  border-radius: 20em !important;
  text-decoration: none;
  transition: background 0.5s;
  width: auto!important;
}
.dropbutton-single .dropbutton-action a:hover,
.dropbutton-single .dropbutton-action a:focus {
  text-decoration: none;
  outline: none;
}
.dropbutton-single .dropbutton-action a:active {
  -webkit-transition: none;
  transition: none;
}

/* The dropdown trigger. */
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-left: 1px solid #777; /* LTR */
  outline: none;
}
[dir="rtl"].js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-right: 1px solid #777;
  border-left: 0;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0 20em 20em 0; /* LTR */
}
[dir="rtl"].js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 20em 0 0 20em;
}
.dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0 1em 1em 0; /* LTR */
}
[dir="rtl"] .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button {
  border-radius: 1em 0 0 1em;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  text-decoration: none;
  z-index: 3;
}
.dropbutton-widget {
  background: #777 none;
  border: 0;
  border-radius: 1em;
  color: #eee;
  transition: none;
}
.dropbutton-widget:hover {
  box-shadow: 0 2px 2px 1px rgba(0,0,0,0.5);
}
.dropbutton-toggle button {
  background: #777 none;
  border-bottom-right-radius: 1em; /* LTR */
  border-top-right-radius: 1em; /* LTR */
  border-style: solid;
  border-color: #333;
  border-left-width: 1px; /* LTR */
  transition: background .5s ease;
}
[dir="rtl"] .dropbutton-toggle button {
  border-radius: 0;
  border-bottom-left-radius: 1em;
  border-top-left-radius: 1em;
  border-width: 0;
  border-right-width: 1px;
}
.dropbutton .dropbutton-action:hover,
.dropbutton a:hover {
  background: #666 none;
  border-bottom-left-radius: 1em; /* LTR */
  border-top-left-radius: 1em; /* LTR */
}
[dir="rtl"] .dropbutton .dropbutton-action:hover,
[dir="rtl"] .dropbutton a:hover {
  border-radius: 0;
  border-bottom-right-radius: 1em;
  border-top-right-radius: 1em;
}
.dropbutton a {
  padding: 0.1em 0.8em;
  color: #eee;
  font-size: 90%;
  line-height: 1.8;
  transition: all 0.5s ease;
}
.dropbutton:hover a {
  color: #fff;
}

/* Change the arrow color and position. */
span.dropbutton-arrow {
  right: 40%;
  top: 50%;
  color: #fff;
}
.js .dropbutton-toggle .dropbutton-arrow:hover {
  background: transparent;
}
td .dropbutton-multiple {
  padding-right: 0;
}
[dir="rtl"]td .dropbutton-multiple {
  padding-left: 0;
}
td .dropbutton-multiple .dropbutton {
  border-right: 0;
  border-left: 0;
}
td .dropbutton .secondary-action {
  border-top-color: #555;
}


