/*
 * @file
 * General styles.
 */

/* Chrome puts focus effect on entire main element. */
main:focus {
  outline: none;
}
.page-title {
  display: inline-block;
  margin-bottom: 10px;
}
.system-status-report__status-title:first-child {
  padding-left: 40px; /* LTR */
}
[dir="rtl"] .system-status-report__status-title:first-child {
  padding-left: 6px;
  padding-right: 40px;
}

/* Remove left margin for narrow viewports. 
 * @todo Move upstream into Seven. */
@media screen and (min-width: 0em) {
  .permissions .permission {
    padding-left: 0;
  }
  .block-page-title-block {
    float: none;
    width: 100%;
  }
  .page-title {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 600px) {
  .permissions .permission {
    padding-left: 20px;
  }
  .block-page-title-block {
    float:left;
    width: 50%;
    margin-bottom: 10px;
  }
}
