/*
 * @file
 * General styles.
 */

.page-title {
  display: inline-block;
  margin-bottom: 10px;
}
.system-status-report__status-title:first-child {
  padding-left: 40px; /* LTR */
}
[dir="rtl"] .system-status-report__status-title:first-child {
  padding-left: 6px;
  padding-right: 40px;
}

/* Remove left margin for narrow viewports. 
 * @todo Move upstream into Seven. */
@media screen and (min-width: 0em) {
  .permissions .permission {
    padding-left: 0;
  }
}
@media screen and (min-width: 600px) {
  .permissions .permission {
    padding-left: 20px;
  }
}
header {
  display: none;
}

