/**
 * @file
 * Layout styles.
 */

/* This sets the general margin.
 * Overrides include deails/summary, fieldsets, vertical tabs and messages
 * which get a -20px left and right to push them to the viewport edge.
 */
.layout-container {
  margin: 0 20px;
}
.region.region-header,
.region.region-breadcrumb,
.region.region-help,
.region.region-content,
.region.region-footer {
  margin-left: 0;
  margin-right: 0;
}
