/**
 * @file
 * Layout rules.
 */

.layout-container {
  margin: 0 20px;
}
.region.region-header,
.region.region-breadcrumb,
.region.region-help,
.region.region-content,
.region.region-footer {
  margin-left: 0;
  margin-right: 0;
}
