/**
 * Generic elements.
 */
body {
  background: #444;
  color: #fff;
}
a,
.link {
  color: #85bef4;
  text-decoration: none;
}
a:hover,
.link:hover,
a:focus,
.link:focus {
  text-decoration: none;
  outline: 0;
}
hr {
  background: #555;
  
}
summary {
  text-transform: none;
}
h1,
h2,
h3,
.heading-a,
.heading-b,
.heading-c {
  font-weight: 100;
  color: #ddd;
  line-height: 1.3em;
}
h4,
h5,
h6,
.heading-d,
.heading-e,
.heading-f {
  font-weight: bold;
  color: #eee;
}
p,
dl,
dd,
dl dl,
blockquote,
address,
u,
ins,
s,
strike,
del,
big,
small,
sub,
sup,
nobr,
abbr,
acronym,
ul,
ol,
li {
  color: #ddd;
}
ul {
  margin: 0;
  padding: 0 16px 0;
}
code,
pre {
  color: #88cc00;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console","Liberation Mono", monospace;
}

