/*
 * @file
 * Breadcrumb region and local actions.
 */

.breadcrumb {
  line-height: 120%;
}
/* In velvet theme the breadcrumb is located in the header region by default. */
@media screen and (min-width: 0em) {
  .region-header .block-system-breadcrumb-block {
    float: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .breadcrumb {
    text-align: left;
    margin-top: 0;
    padding: 5px 0 0;
  }
}
@media screen and (min-width: 600px) {
  .region-header .block-system-breadcrumb-block {
    width: auto;
    float: right;
  }
  .breadcrumb {
    margin-top: 0;
    padding: 10px 0;
    text-align: right;
  }
}