/*
 * @file
 * Breadcrumb region and local actions.
 */

/* In velvet theme the breadcrumb is located in the header region by default. */

.block-system-breadcrumb-block {
  float: right;
}
.block-system-breadcrumb-block > .breadcrumb,
div#block-velvet-local-actions > .action-links {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 0em) {
  .block-system-breadcrumb-block,
  div#block-velvet-local-actions {
    float: left;
    width: 100%;
    margin-bottom: 10px;
  }
  .breadcrumb {
    text-align: left;
  }
}
@media screen and (min-width: 600px) {
  div#block-velvet-local-actions {
    width: auto;
    float: left;
  }
  .block-system-breadcrumb-block {
    width: auto;
    float: right;
  }
  .breadcrumb {
    text-align: right;
  }
}