/**
 * @file
 * Styles for bulk operations.
 */

/* @todo Remove this when https://www.drupal.org/node/2785051 lands. */
@media all and (min-width: 600px) {
  [data-drupal-selector="edit-header"] div > div {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    vertical-align: bottom;
  }
  [data-drupal-selector="edit-header"] div > div .button,
  [data-drupal-selector="edit-header"] div > div .form-item,
  .container-inline > .details-wrapper > .form-item   {
    display: inline-block;
    margin: 0 2px;
    vertical-align: bottom;
  }
}