/*
 * @file
 * Visual styling for buttons.
 */

/* Styling for links and buttons that display as links. */
a,
button.link {
  text-decoration: none;
  color: #85bef4;
  font-weight: normal;
  transition: color .5s ease;
}
button a:focus,
button.a:hover,
button.a:active,
button.link:focus,
button.link:hover,
button.link:active {
  outline: none;
  color: #46a0f5;
}

/* Styling for buttons. */
.button {
  padding: 6px 1em;
  background: #7b7b7b;
  border: 0;
  color: #fff;
  text-shadow: none;
  transition: background .5s ease;
}
.button:hover,
.button:focus,
.button:active {
  background: #888;
  border: 0;
  box-shadow: none;
  outline: none;
  color: #fff;
  text-shadow: none;
}
.button-action,
input.button--primary {
  background: #277abd none;
  transition: background .5s ease;
}
.button--primary:hover,
.button--primary:focus,
.button--primary:active {
  background: #2b8bd8;
  outline: none;
}
@media screen and (min-width: 0em) {
  .button {
    width: 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 40em) {
  .button {
    width: auto;
    min-width: 100px;
  }
}

