/**
 * @file
 * Visual styling for the details/summary element.
 */

details,
details.form-wrapper {
  width: calc(100% + 40px);
  margin: 0 -20px 2px; /* Push to viewport edge. */
  border: 0;
  line-height: normal;
}
details[open] {
  background-color: #222;
  padding-bottom: 10px;
}
details[open] > summary {
  background-color: #222;
  color: #eee;
}
details[open] > summary:hover {
  background-color: #111;
  color: #fff;
}
summary {
  text-shadow: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1em;
  line-height: 3em;
  transition: background .5s ease;
}
summary a {
  color: #ddd;
  padding-top: 0;
  padding-bottom: 0;
}
summary a:hover,
summary a:focus {
  color: #fff;
  text-decoration: none;
  outline: none;
}
summary:hover {
  background-color: #222;
  outline: none;
  text-decoration: none;
}
details summary {
  padding-top: 0;
  padding-bottom: 0;
}
details,
summary,
.filter-wrapper,
.details-wrapper {
  background: #222;
  border: 0;
}
details.form-wrapper:last-of-type {
  margin-bottom: 10px;
}

