/**
 * @file
 * Visual styling for the details/summary element.
 */

details,
summary,
.filter-wrapper,
.details-wrapper {
  background: #222;
  border: 0px solid transparent;
  color: #ddd;
}
summary a {
  color: #ddd;
  padding-top: 0;
  padding-bottom: 0;
}
summary a:hover,
summary a:focus {
  color: #fff;
}
summary {
  text-shadow: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1em;
  line-height: 3em;
  transition: all .5s ease;
}
summary:hover {
  background-color: #222;
  outline: none;
}
details[open] {
  background-color: #222;
  padding-bottom: 10px;
}
details[open] > summary {
  background-color: #222;
  color: #eee;
}
details[open] > summary:hover {
  background-color: #111;
  color: #fff;
}

/* Remove margins for smaller screens. */
@media screen and (min-width: 0em) {
  details {
    margin-top: 0;
    margin-bottom: 2px;
  }
}
