/**
 * @file
 * Entity meta settings.
 */

.entity-meta__header {
  padding: 0 0 10px;
}
.entity-meta,
.entity-meta__header,
.entity-meta details {
  background-color: #444;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  box-shadow: none;
  color: #ddd;
}
.entity-meta__header .form-item {
  margin: 0 0 10px;
}
.entity-meta__title {
  text-shadow: none;
}
.entity-meta details {
  margin-bottom: 2px;
}
.entity-meta details:first-child {
  border-top-color: transparent;
}

.entity-meta details[open],
.entity-meta details[open] + details[open] {
  background-color: #333;
  background-image: none;
  border-top-width: 0;
  padding-top: 0;
}
.entity-meta details > summary {
  text-shadow: none;
  padding: 0 20px;
}
.entity-meta details .summary {
 display: none; /* Hide JS summaries. @todo Rethink summaries. */
}
.entity-meta details[open] {
  margin: 0 -20px 2px;
}
