/* Extend page */

/* The importants are needed to override Seven. */
.system-modules tr.even,
.system-modules tr.odd,
.locale-translation-status-form tr.even,
.locale-translation-status-form tr.odd {
  background: #transparent !important;
  border-bottom: 10px solid transparent !important;
}
.system-modules tr.even:hover,
.system-modules tr.odd:hover,
.locale-translation-status-form tr.even:hover,
.locale-translation-status-form tr.odd:hover {
  background: transparent; !important;
}
.system-modules label:hover,
.system-modules-uninstall label:hover {
  color: #2196f3;
}
.system-modules label,
.system-modules-uninstall label {
  color: #333;
}
.system-modules details[open] {
  background-color: transparent;
}
.system-modules td details a,
.system-modules td details summary {
  color: #2196f3;
}
.system-modules td details summary span {
  color: #eee;
}
.system-modules td details summary span:hover {
  color: #2196f3;
}
