/**
 * @file
 * Visual styling for forms.
 */

label {
  margin: 0;
  font-size: 12px;
  padding: 0 0 3px;
  font-weight: bold;
}
.label,
.form-composite > legend {
  display: block;
  margin: 0;
  padding: 0 0 3px;
  font-weight: bold;
}
ul.tips,
div.description,
.form-item .description {
  max-width: 400px;
  margin: 0 0 4px;
  font-size: 12px;
  font-style: italic;
  color: #aaa;
  transition: color .5s ease;
}
/* Override added colon from classy. */
.container-inline label:after, 
.container-inline .label:after {
  content: '';
}
.details-description,
.details-wrapper .description {
  max-width: 400px;
  font-size: 12px;
  font-style: italic;
  color: #999;
  transition: color 0.5s ease;
}
ul.tips:hover,
div.description:hover,
.form-item .description:hover,
.details-description:hover,
.details-wrapper .description:hover {
  color: #ddd;
}

/* 
 * Font size, margin padding and line height of inputs 
 * MUST match buttons for inline alignment. 
 */
input.form-select,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-textarea,
input.form-date,
input.form-time {
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  background-color: #eee;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
  margin: 0;
  padding: 6px 10px;
  border: 1px solid #333;
  border-radius: 2px;
  outline: 0;
  font-size: 14px;
  line-height: 16px;
  vertical-align: bottom;
  color: #595959;
  cursor: pointer;
  transition: all 0.5s ease;
}
input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-search:focus,
input.form-number:focus,
input.form-color:focus,
input.form-file:focus,
input.form-textarea:focus,
input.form-date:focus,
input.form-time:focus {
  border-color: #40b6ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125), 0 0 8px #40b6ff;
  background-color: #fff;
}
input.radio,
input.checkbox,
input[type="radio"],
input[type="checkbox"] {
  position: static;
  margin: 0;
}
td .checkbox {
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
}
input.form-checkbox,
input.form-radio {
  /* Add contrast for dark background. */
  box-shadow: 0 0 1px 1px #000;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  padding: 6px 20px 6px 6px; /* LTR */
  border: 1px solid #444;
  border-bottom: 1px solid #222;
  background: url(/core/misc/icons/333333/caret-down.svg) no-repeat 98% 63% #7b7b7b;
  box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, .3);
  vertical-align: bottom;
  /* Must match other form elements and buttons for inline alighnment. */
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-shadow: none;
  transition: background 0.5s ease;
  -webkit-font-smoothing: antialiased;
}
select:hover,
select:focus,
select:active {
  border-radius: 3px;
  color: #fff;
  background: url(/core/misc/icons/333333/caret-down.svg) no-repeat 98% 63% #666;
  box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, .3);
  outline: none;
}

.form-item {
  margin: 0 0 10px;
}

/* Inline form items. */
.form--inline .form-item {
  margin: 2px 2px 0;
  padding: 10px 0 0;
}
/* Push the label into the padding of the field. 
 * This prevents extra vertical space when inline buttons wrap. 
 */
.form--inline .form-item label {
  margin: -12px 0 0;
}
/* -2 pushes first child back into alignment so no RTL is needed. */
.form--inline.clearfix {
  margin: 0 -2px 10px;
}
/* @todo move inline form actions upstream to Seven. */
.form--inline .form-actions {
  clear: none;
  float: left;
  width: auto;
  margin: 0;
  padding: 18px 2px 0
}

/* Fieldsets. */
.fieldset,
fieldset:not(.fieldgroup) {
  background-color: #333;
  min-width: 0;
  position: relative;
  margin: 10px -20px;
  padding: 30px 20px 20px;
  border: 1px solid #777;
  border-radius: 2px;
  color: #ddd;
}

/* Smaller select for tables. */
td .form-type-select > .form-select {
  line-height: 10px;
}
.details-wrapper > .form-item {
  margin-right: 0;
  margin-left: 0;
}
.details-wrapper > .form-item select {
  width: auto;
}
@media all and (min-width: 0em) {
  .form--inline > .form-item {
    float: none;
    width: 100%;
  }
  .form--inline .form-actions {
    clear: none;
    float: none;
    width: 100%;
  }
  td .form-type-select > .form-select {
    max-width: 80px;
    font-size: inherit;
    letter-spacing: inherit;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  .details-wrapper > .form-item select {
    width: 100%;
  }
}
@media all and (min-width: 600px) {
  td selectinput.form-select {
    max-width: 200px;
  }
  .form--inline > .form-item {
    float: left; /* LTR */
    width: auto;
  }
  .form--inline .form-actions {
    clear: none;
    float: left;
    width: auto;
    margin: 0;
    padding: 19px 2px 0;
  }
  [dir="rtl"] .form--inline > .form-item {
    float: right;
  }
  .details-wrapper > .form-item select {
    width: auto;
  }
}


