/**
 * @file
 * Visual styling for forms.
 */

label {
  line-height: normal;
  font-weight: normal;
  color: #ddd;
}
ul.tips,
div.description,
.form-item .description {
  max-width: 400px;
  margin-top: 5px;
  font-size: 12px;
  font-style: italic;
  color: #aaa;
  transition: color .5s ease;
}
.details-description,
.details-wrapper .description {
  max-width: 400px;
  font-size: 90%;
  font-style: italic;
  color: #999;
  transition: color .5s ease;
}
ul.tips:hover,
div.description:hover,
.form-item .description:hover,
.details-description:hover,
.details-wrapper .description:hover {
  color: #ddd;
}

/* 
 * Font size, margin padding and line height of inputs 
 * MUST match buttons for inline alignment. 
 */
.form-select,
.form-text,
.form-tel,
.form-email,
.form-url,
.form-search,
.form-number,
.form-color,
.form-file,
.form-textarea,
.form-date,
.form-time {
  display: block;
  box-sizing: border-box;
  max-width: 100%;
  padding: 6px 10px;
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-width: 1px;
  border-radius: 2px;
  outline: 0;
  vertical-align: bottom;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
/* Reduce contrast for fields against dark backround. */
.form-text,
.form-tel,
.form-email,
.form-url,
.form-search,
.form-number,
.form-color,
.form-file,
.form-textarea,
.form-date,
.form-time {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .2);
  background-color: #eee;
  border-color: #333;
  border-bottom: 1px solid #f5f5f5;
  color: #595959;
  transition: all .5s ease;
}
.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus {
  border-color: #40b6ff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .125), 0 0 8px #40b6ff;
  background-color: #fff;
}
.radio,
.checkbox,
[type="radio"],
[type="checkbox"] {
  position: static;
  margin: 0;
}
td .checkbox {
  display: table-cell;
  line-height: normal;
  vertical-align: middle;
}
.form-checkbox,
.form-radio {
  /* Add contrast for dark background. */
  box-shadow: 0 0 1px 1px #000;
}
[type="radio"] {
  /* Add full circular radius. */
  border-radius: 50%;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  width: 100%;
  margin-top: 5px;
  padding: 6px 20px 6px 6px; /* LTR */
  border: 1px solid #444;
  border-bottom: 1px solid #222;
  background: url(/core/misc/icons/333333/caret-down.svg) no-repeat 98% 63% #7b7b7b;
  box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, .3);
  vertical-align: bottom;
  /* Must match other form elements and buttons for inline alighnment. */
  font-size: 14px;
  line-height: 16px;
  text-shadow: none;
  transition: background 0.5s ease;
  -webkit-font-smoothing: antialiased;
}
select:hover,
select:focus,
select:active {
  border-radius: 3px;
  color: #fff;
  background: url(/core/misc/icons/333333/caret-down.svg) no-repeat 98% 63% #666;
  box-shadow: inset 0 1px 0px 0px rgba(255, 255, 255, .3);
  outline: none;
}

/* Smaller select for tables. */
td select.form-select {
  max-width: 100px;
  min-width: 60px;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 10px;
  font-weight: bold;
  vertical-align: middle;
}
.form-item {
  margin: 0 0 10px;
}
.details-wrapper > .form-item {
  margin-right: 0;
  margin-left: 0;
}
.details-wrapper > .form-item select {
  width: auto;
}
@media all and (min-width: 0em) {
  .form--inline > .form-item {
    float: none;
    width: 100%;
    margin-right: 0;
  }
  td select.form-select {
    max-width: 100px;
  }
  .details-wrapper > .form-item select {
    width: 100%;
  }
}
@media all and (min-width: 40em) {
  td select.form-select {
    max-width: 200px;
  }
  .form--inline > .form-item {
    float: left;
    width: auto;
    margin-right: 5px;
    margin-left: 0;
  }
}


