/**
 * @file
 * Visual styling for messages.
 */
 
.messages {
  box-shadow: none;
  background-repeat: no-repeat;
  /* Y value aligns icon with the first line of text so icon doesn't get pushed down on long messages. */
  background-position: 10px 18px; /* LTR */
  /* Provide space for icon and asterisk. */
  padding: 15px 10px 15px 35px; /* LTR */
  margin: 0 -20px 1px; /* Push to viewport edge. */
  /* Specificity needed to reset border style from classy. */
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  /* 1. Sets LTR border for all messages. */
  border-left-width: 5px; /* LTR */
  border-radius: 0;
  word-wrap: break-word;
}
[dir="rtl"] .messages {
  background-position: 93% 18px;
  padding-left: 10px;
  padding-right: 35px;
  /* Classy sets a specific value here that must be overridden. */
  border-left-width: 0;
  border-right-width: 5px; /* 2. Sets RTL border for all messages. */
  text-align: right;
}
.messages + .messages {
  margin-top: 1px;
}
.messages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.messages__item + .messages__item {
  margin-top: 0;
}

/* Common for all message types. */
.messages--status,
.messages--warning,
.messages--error {
  background-color: #000;
  color: #fff;
}

/* Unique Icon and border color for each message type. */
.messages--status {
  background-image: url(../../../../misc/icons/73b355/check.svg);
  border-color: transparent transparent transparent #77b259; /* LTR */
}
[dir="rtl"] .messages--status {
  border-color: transparent #77b259 transparent transparent;
}
.messages--warning {
  background-image: url(../../../../misc/icons/e29700/warning.svg);
  border-color: transparent transparent transparent #e09600; /* LTR */
}
[dir="rtl"] .messages--warning {
  border-color: transparent #e09600 transparent transparent;
}
.messages--error {
  background-image: url(../../../../misc/icons/e32700/error.svg);
  border-color: transparent transparent transparent #e62600; /* LTR */
}
[dir="rtl"] .messages--error {
  border-color: transparent #e62600 transparent transparent;
}

@media screen and (min-width: 600px) {
  .messages {
    margin: 10px 0;
  }
}

