/* 
 * @file
 * Modal table cell form. 
 */

/* Must use these verbose selectors and IDs to override field-UI css. */
#field-display-overview tr.field-plugin-settings-editing {
  position: absolute;
  width: calc(100% - 40px);
  height: 100%;
  background: #333;
  margin: 0;
  padding: 10px 20px;
  z-index: 100;
}
tr.field-plugin-settings-editing td {
  display: block;
  position: relative;
  margin: 0 0 10px;
  padding: 0;
  border: 0;
  white-space: normal;
}
#field-display-overview tr.drag,
#field-display-overview tr.field-plugin-settings-changed {
  background: #111;
} 
@media all and (min-width: 0em) {
  #field-display-overview .field-plugin-settings-edit-form .form-item,
  #field-display-overview .field-plugin-settings-edit-form .form-submit {
    display: block;
    margin: 0 0 10px;
  }
  .field-ui-overview .field-plugin-settings-edit-wrapper {
    position: absolute;
    box-sizing: border-box;
    left: calc(100% - 40px);
    background: #444;
    height: 39px;
    margin: -20px 0;
    padding: 12px;
    width: 40px;
    z-index: 99;
  }
  #field-display-overview input.field-plugin-settings-edit {
    position: static;
    margin: 0;
    padding: 0;
  }
  .field-ui-overview td {
    max-width: 100%;
  }
}
@media all and (min-width: 600px) {
  #field-display-overview .field-plugin-settings-edit-form .form-submit {
    display: inline-block;
    margin: 0 2px 10px;
  }
 .field-ui-overview .field-plugin-settings-edit-wrapper {
    position: static;
    background: transparent;
    height: auto;
    margin: inherit;
    padding: inherit;
    width: auto;
  }
}