/*
 * @file
 * Visual styling overrides for the modules page.
 */

.system-modules table {
  margin: 0;
  width: 100%;
}
.system-modules tr.even,
.system-modules tr.odd,
.locale-translation-status-form tr.even,
.locale-translation-status-form tr.odd {
  background-color: #333;
  border-bottom: 1px solid #777;
}
.system-modules tr.even:hover,
.system-modules tr.odd:hover,
.locale-translation-status-form tr.even:hover,
.locale-translation-status-form tr.odd:hover {
  /* Needed to override Seven. */
  background: transparent; !important;
}
.system-modules label:hover,
.system-modules-uninstall label:hover,
.system-modules td details summary span:hover {
  color: #fff;
}
.system-modules label,
.system-modules-uninstall label,
.system-modules td details a,
.system-modules td details summary,
.system-modules td details summary span {
  color: #eee;
}
/* Override datails backgrounds. */
.system-modules details,
.system-modules details summary,
.system-modules .details-wrapper,
.system-modules details[open],
.system-modules details[open] > summary:hover {
  background: transparent;
}
details.package-listing[open] > summary,
details.package-listing[closed] > summary {
  border: 0;
  margin: 0;
  padding: 0 20px;
}
.system-modules details {
  background: #333;
  color: #fff;
}
details.package-listing > summary {
  background: #222;
  border-bottom: 1px solid #555;
}
details.package-listing > summary:hover,
details.package-listing[open] > summary:hover  {
  background: #111;
}
.package-listing > .details-wrapper > table td summary {
  line-height: 16px;
}
.package-listing > .details-wrapper > table td details[open] summary,
.package-listing > .details-wrapper > table td .details-description,
.package-listing details.form-wrapper:last-of-type {
  margin-bottom: 0;
}
.system-modules details[open] {
  padding-bottom: 0;
}
.system-modules .details-wrapper {
  padding: 0;
}
.system-modules summary {
  border-bottom-color: transparent;
}
.system-modules .package-listing {
  margin-bottom: 0;
}
.admin-requirements, 
.admin-required {
  font-size: normal;
  color: #ddd;
}
