/*
 * @file
 * Visual styling overrides for the modules page.
 */

.system-modules table {
  margin-bottom: 0;
}
.system-modules tr.even,
.system-modules tr.odd,
.locale-translation-status-form tr.even,
.locale-translation-status-form tr.odd {
  background-color: #444;
  border-bottom: 1px solid #777;
  color: #eee;
}
.system-modules tr.even:hover,
.system-modules tr.odd:hover,
.locale-translation-status-form tr.even:hover,
.locale-translation-status-form tr.odd:hover {
  /* Needed to override Seven. */
  background: transparent; !important;
}
.system-modules label:hover,
.system-modules-uninstall label:hover,
.system-modules td details summary span:hover {
  color: #fff;
}
.system-modules label,
.system-modules-uninstall label,
.system-modules td details a,
.system-modules td details summary,
.system-modules td details summary span {
  color: #eee;
}
/* Override datails backgrounds. */
.system-modules details,
.system-modules details summary,
.system-modules .details-wrapper,
.system-modules details[open],
.system-modules details[open] > summary:hover {
  background: transparent;
}
.system-modules [open] summary,
.system-modules [closed] summary {
  border: 0;
  margin: 0 -20px;
  padding: 0 20px;
}
.system-modules details,
.system-modules details summary,
.system-modules details summary:hover {
  background: #333;
  color: #fff;
}

.system-modules td details {
  height: auto;
}
.system-modules details[open] {
  padding-bottom: 0;
}
.system-modules .details-wrapper {
  padding: 0;
}
.system-modules td.module {
  width: auto;
}
.system-modules summary {
  border-bottom-color: transparent;
}
.system-modules .package-listing {
  margin-bottom: 0;
}
.admin-requirements, 
.admin-required {
  font-size: normal;
  color: #ddd;
}
