/**
 * @file
 * Panel styling.
 */

.panel {
  margin: 0 -20px; /* Push to viewport edge. */
  padding: 5px 20px 0;
  background: #333;
  border: 0;
}
.panel__title {
  text-transform: none;
  margin: 5px 0;
  font-size: 1.2em;
}

