/**
 * @file
 * Visual styling for tables.
 */

table {
  border: 0;
  border-collapse: collapse;
  min-width: 300px;
  width: calc(100% + 40px);
  margin: 0 -20px 10px; /* Push to viewport edge. */
}
tr,
thead {
  padding: 0 20px;
}
tr > th {
  color: #ccc;
}
tr > td {
  color: #ddd;
}
tr > th,
tr > td {
  width: auto;
  padding: 8px 4px;
  background: none;
  background-color: transparent;
  vertical-align: middle;
  border: 0;
  border-bottom: 1px solid #777;
  font-size: 12px;
  line-height: 20px;
  text-align: left; /* LTR */
}
[dir="rtl"] tr > th,
[dir="rtl"] tr > td {
  text-align: right;
}
tr:hover > th {
  background: none;
}
td > div,
td > .form-item,
td > .dropbutton-wrapper,
td .form-type-select > .form-select {
  margin: 0;
  vertical-align: middle;
}
td:first-child,
th:first-child {
  padding-left: 20px;
}
td:last-child,
th:last-child {
  padding-right: 20px;
}

/* Remove hover with no data. */
tbody tr:hover .region-empty {
  background-color: transparent;
}

/* Override semantic background hover color. */
tbody tr.color-warning:hover,
tbody tr.color-warning:focus,
tbody tr.color-error:hover,
tbody tr.color-error:focus {
  background: #333;
}
tr:hover,
tr:hover td,
tbody tr:hover,
tbody tr:focus {
  background-color: #333;
}
tr.odd,
tr.even {
  background-image: none;
  background-color: transparent;
}
tr.selected td { 
  background: #333;
  color: #ffc;
}
td.checkbox,
th.checkbox {
  text-align: center;
  width: 20px;
}
thead th {
  text-transform: none;
}
th > a {
  color: #ddd;
}
th > a:after {
  bottom: -9px;
}
th.is-active > a {
  color: #eee;
}
th > a:hover,
th > a:focus,
th.is-active > a:hover,
th.is-active > a:focus {
  color: #fff;
}
th.is-active > a:after {
  border-bottom-color: #277abd;
}
th > a:hover:after,
th > a:focus:after,
th.is-active > a:hover:after,
th.is-active > a:focus:after {
  border-bottom-color: #2b8bd8;
}
a .tablesort--asc,
a:hover .tablesort--asc {
  background-image: url(/core/misc/icons/008ee6/twistie-down.svg);
}
a .tablesort--desc,
a:hover .tablesort--desc {
  background-image: url(/core/misc/icons/008ee6/twistie-up.svg);
}

/* Squeeze as much into the narrow space as possible. */
@media all and (min-width: 0em) {
  tr > th,
  tr > td {
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  td,
  td.block {
    max-width: 100px;
    font-size: 95%;
    letter-spacing: -0.2px;
    overflow: hidden;
  }
  /* This prevents the dropbutton dropdowns from being hidden. 
  /* @todo Figure out a way that doesn't assume actions are always the last cell. */
  td:last-child,
  td.block:last-child {
    overflow: visible;
  }
}
@media all and (min-width: 600px) {
  /* Trick that columns to be even. */
  tr > th,
  tr > td {
    white-space: normal;
  }
  tr td {
    width: 1000px;
    max-width: 100%;
    min-width: 100px;
  }
  td,
  td.block {
    max-width: 100%;
    overflow: hidden;
  }
  td.block:last-child {
    overflow: visible;
  }
}

