/*
 * @file
 * Override vertical tabs from Seven.
 */

.js-form-item.js-form-type-vertical-tabs {
  margin: 0 -20px;
  padding: 0;
  background: #333;
}
.form-type-vertical-tabs label {
  margin: 0 20px;
  padding: 10px 0;
}
.vertical-tabs {
  border: 0;
}
.vertical-tabs__menu {
  box-sizing: border-box;
  float: left; /* LTR */
  width: 35%;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
[dir="rtl"] .vertical-tabs__menu {
  float: right;
}
.vertical-tabs__panes {
  box-sizing: border-box;
  float: left; /* LTR */
  width: 65%;
  margin: 0;
}
[dir="rtl"] .vertical-tabs__panes {
  float: right;
}
details[open].vertical-tabs__panes {
  margin: 0;
}
[dir="rtl"] .vertical-tabs__panes {
  margin: 0;
}
.vertical-tabs__pane > .details-wrapper {
  background: #333;
}
.vertical-tabs-panes details,
.vertical-tabs-panes details.form-wrapper {
  margin: 0;
}
.vertical-tabs fieldset.fieldgroup {
  margin: 0;
  padding: 0;
}
.vertical-tabs__pane > summary {
  display: none;
}
details[open].vertical-tabs__pane {
  margin: 0;
  width: 100%;
  background: transparent;
}
.vertical-tabs_pane fieldset {
  padding-top: 0;
}

/* Layout of each tab. */
.vertical-tabs__menu-item {
  border: 0;
  border-top: 0;
  padding: 10px 5px 10px 20px; /* LTR */
  background: transparent;
  outline: none;
  box-shadow: none;
  transition: background 0.5s;
}
.vertical-tabs__menu-item:hover {
  background: #111;
}
[dir="rtl"] .vertical-tabs__menu-item {
  padding: 10px 20px 10px 5px; /* LTR */
}
.vertical-tabs__menu-item a {
  display: block;
  padding: 0;
  text-decoration: none;
  color: #ddd;
}
strong.vertical-tabs__menu-item-title {
  font-weight: normal;
}
.vertical-tabs__menu-item a:focus .vertical-tabs__menu-item-title,
.vertical-tabs__menu-item a:active .vertical-tabs__menu-item-title,
.vertical-tabs__menu-item a:hover .vertical-tabs__menu-item-title {
  text-decoration: none;
}
.vertical-tabs__menu-item a:hover,
.vertical-tabs__menu-item a:focus,
.vertical-tabs__menu-item a:active {
  color: #fff;
  outline: none;
}
.vertical-tabs__menu-item.is-selected {
  border: 0;
  background-color: #222;
}
.vertical-tabs__menu-item.is-selected:hover {
  background-color: #111;
}
[dir="rtl"] .vertical-tabs__menu-item.is-selected {
  border: 0;
}
.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: inherit;
}
.vertical-tabs__menu-item-summary {
  display: block;
  margin-bottom: 0;
  font-size: 0.85em;
  color: #bbb;
  line-height: inherit;
}
@media screen and (min-width: 0em) {
  .js-form-item.js-form-type-vertical-tabs {
    margin: 0;
    background: #444;
  }
  .form-type-vertical-tabs label {
    margin: 0px;
  }
}
@media screen and (min-width: 600px) {
  .js-form-item.js-form-type-vertical-tabs {
    margin: 0 -20px;
  }
  .form-type-vertical-tabs label {
    margin: 0 20px;
  }
  .vertical-tabs__pane > .details-wrapper {
    padding: 10px 20px 10px;
    background: #222;
  }
}

