/**
 * Views styling
 */

.views-displays,
.views-preview-wrapper {
  border: 0;
  padding-bottom: 0px;
}
.views-admin .unit-title {
  margin-bottom: 10px
}
.views-display-top {
  padding: 0;
  background-color: #333;
}
.edit-display-settings {
  margin: 0 -20px;
}
.views-display-columns > * {
  margin-bottom: 10px;
}
.views-display-column + .views-display-column {
  margin: 0;
  width: 100%;
}
.views-display-top,
.view-preview-form__title,
.form-edit .form-actions {
  background-color: transparent;
  border: 0;
}
.views-display-top .dropbutton-wrapper {
  position: absolute;
  right: 0; /* LTR */
  top: -30px;
}
.views-displays ul.secondary li a {
  color: #0074bd;
}
#edit-display-settings-title {
  color: #2196f3;
}
.views-displays .secondary .open > a:hover,
.views-displays .secondary .open > a:focus {
  background-color: transparent;
  color: #2196f3;
}
.views-display-column {
  border: 0;
}
.views-displays .secondary .action-list input.form-submit {
  color: #2196f3;
}

/* Tab buckets. */
.views-ui-display-tab-bucket {
  padding: 5px 20px;
  border: 0;
  border-bottom: 1px solid #777;
}
.views-ui-display-tab-bucket h3 {
  text-transform: uppercase;
}
/* Needed to override Stable. */
.edit-display-settings-top.views-ui-display-tab-bucket {
  padding-top: 0;
  border: 0;
  line-height: 28px;
}
.edit-display-settings-top > .views-display-setting {
  padding: 0;
}
.views-ui-display-tab-bucket .views-display-setting {
  color: #ddd;
}
.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background-color: transparent;
}
.views-ui-display-tab-bucket__title {
    padding: 5px 0;
}
.views-ui-display-tab-bucket .dropbutton-wrapper,
.views-ui-display-tab-bucket .dropbutton-wrapper.dropbutton-multiple {
  margin: 4px 20px;
}

/* Controlls. */
.views-ui-rearrange-filter-form table {
  border: medium none;
}
.views-ui-rearrange-filter-form [id^="views-row"] {
  border: medium none;
}
.views-ui-rearrange-filter-form .filter-group-operator-row {
  border-left: 1px solid transparent !important;
  border-right: 1px solid transparent !important;
}
.views-ui-rearrange-filter-form tr.drag td {
  background-color: #333 !important;
}
.views-ui-rearrange-filter-form tr.drag-previous td {
  background-color: #444 !important;
}

/* Secondary tabs. */
.views-displays .tabs.secondary {
  margin-right: 0; 
}
.views-displays .tabs.secondary li {
  margin: 0 5px 5px 0; /* LTR */
}
/* Style displays tabs like buttons. */
.views-displays .tabs.secondary li a,
.views-displays ul.secondary li a, 
.views-displays ul.secondary li.is-active a, 
.views-displays ul.secondary li.is-active a.is-active {
  box-sizing: border-box;
  padding: 6px 14px;
  border: 0;
  border-radius: 20em;
  background-color: #111;
  background-image: none;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
}
.views-displays ul.secondary li.is-active a.is-active {
  background: #777;
  border: 0;
}

/*
 * Remove the span implementation of icon.
 * @todo create an issue to move this fix to upstream to Seven.
 */
span.icon.add {
  visibility: hidden;
}

/* Replace with before pseudo-element. */
.views-displays .tabs .add a:before {
  content: '+';
  position: absolute;
  font-weight: 900;
  left: 10px;
  top: 5px;
  font-size: 18px;
  color: #85bef4;
}
.views-displays .tabs li.add ul.action-list {
  border: 0;
}
.views-displays .tabs ul.action-list {
  top: 0;
  z-index: 100;
}
.views-displays .tabs .action-list li {
  background-color: #333;
  color: #fff;
  transition: background-color 0.2s ease;
}
.views-displays .tabs .action-list li:hover {
  background-color: #666;
}
.views-displays .tabs .action-list li input,
.views-displays .tabs .action-list li:hover input {
  color: #fff;
  text-align: left;
}
.views-displays .secondary .action-list li:first-child {
  border-radius: 7px 7px 0 0;
}

/* Stop field and input crashing in preview. */
.view-preview-form .arguments-preview,
.view-preview-form .form-item-view-args {
  margin-right: 10px;
}

/* Special cases for jquery dialogs. */
div.views-ui-dialog .views-offset-top {
  border-bottom: 1px solid #777;
  background-color: #333 !important;
}
.views-ui-dialog .views-offset-bottom {
  border-top: 1px solid transparent;
}
.views-filterable-options {
  border-top: 0;
}

/* Form actions. */
.views-admin > .form-edit .form-actions {
  background-color: #333;
  padding: 10px 20px;
  margin: 0 -20px;
  border: 0;
}
.views-admin > .form-edit .form-actions input {
  margin: 0 0 10px;
}

/* View preview. */
div.views-preview-wrapper {
  margin: -15px -20px;
  border-top: 1px solid #999;
}
.view-preview-form__title {
  background-color: #333;
  border: 0;
  padding: 10px 20px;
}
.details-wrapper .dropbutton-wrapper {
  right: 20px; /* LTR */
}
.views-filterable-options-controls .form-item {
  margin: 0 0 10px;
}
.preview-section table {
  margin: 0;
  width: 100%;
  overflow: hidden;
}

/* Override columns. */
.views-display-columns > * {
  width: 100%;
}

.views-query-info table {
  width: 100%;
  border-collapse: collapse;
  border-color: transparent;
}
.views-query-info table tr {
  background-color: inherit;
}
.views-query-info table th, .views-query-info table td {
  color: inherit;
}


