/**
 * Tabs.
 */

/* Reset border, background. */
.tabs__tab,
.tabs.primary,
.tabs.secondary,
.is-horizontal .tabs__tab.is-active,
.is-collapse-enabled .tabs__trigger,
.is-horizontal .tabs.primary .tabs__tab.is-active,
[dir="rtl"] .is-collapse-enabled .tabs__trigger,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active {
  background-color: transparent;
  border: 0;
}
/* Reset color. */
.tabs__tab a {
  color: #ccc;
}
.tabs__tab.is-active a,
.tabs.primary .is-active a,
.tabs.secondary .is-active a {
  color: #fff;
}
/* Remove border-radius. */
.is-horizontal .tabs__tab.is-active,
.is-horizontal .tabs.primary .tabs__tab.is-active,
.is-horizontal .tabs.primary .tabs__tab:first-child,
.is-horizontal .tabs.primary .tabs__tab:last-child,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab:first-child,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab:last-child {
  border-radius: 0;
}
/* Reset the hover and focus states. */
.tabs__tab:hover,
.tabs__tab:focus {
  color: #eee;
  background-color: #000;
}
/* Remove underline */
.tabs a:hover,
.tabs a:focus {
  text-decoration: none;
}

.tabs.is-open
.is-collapse-enabled .tabs:before,
.is-horizontal .tabs:before {
  background: #444;
}

/* Push the tabs to the viewport edge. */
.is-horizontal .tabs:before,
.is-collapse-enabled .tabs:before {
  left: 0;
  right: 0;
}
div.block.block-local-tasks-block {
  margin: 0 -20px;
}

/* Primary tabs */
.tabs.primary a:focus {
  color: #fff;
  background-color: #333;
  text-decoration: none;
}
.tabs.primary .is-active a:focus {
  text-decoration: none;
}

/* With collapse enabled remove border. */
.tabs.primary .tabs__tab.is-active a {
  background: #444;
}
.is-collapse-enabled .tabs.primary a.is-active:before {
  content: none;
}
.is-open .tabs__tab.is-active {
  background-color: #444;
  color: #fff;
}

/* Styles for the horizontal state. */
.is-horizontal .tabs__tab {
  text-align: center;
}
.is-horizontal .tabs__tab.is-active,
.is-horizontal .tabs.primary .tabs__tab.is-active,
[dir="rtl"] .is-horizontal .tabs.primary .tabs__tab.is-active {
  top: 0;
  margin: 0;
  border-bottom: 0;
}

/* Secondary tabs */
.tabs.secondary .tabs__tab + .tabs__tab {
  border-top: 0;
}
.tabs.secondary .tabs__tab {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  padding-left: 15px;
  padding-right: 15px;
}
.tabs.secondary .tabs__tab.is-active {
  color: #fff;
  border: 0;
  border-left: 4px solid #008ee6; /* LTR */
  border-right: 4px solid transparent; /* LTR */
  background: #333;
}
[dir="rtl"] .tabs.secondary .tabs__tab.is-active {
  border-left-color: transparent;
  border-right-color: #008ee6;
  padding-left: 0;
}
[dir="rtl"] .views-displays .tabs.secondary li.is-active {
  border: 0 none;
  padding-right: 0;
}
.tabs.secondary .tabs__tab:hover,
.tabs.secondary .tabs__tab:focus {
  color: #fff;
  border-left: 4px solid #008ee6; /* LTR */
  border-right: 4px solid transparent; /* LTR */
}
[dir="rtl"] .tabs.secondary .tabs__tab:hover,
[dir="rtl"] .tabs.secondary .tabs__tab:focus {
  border-left-color: transparent;
  border-right-color: #008ee6;
}
[dir="rtl"] .views-displays .tabs li.tabs__tab:hover {
  border: 0 none;
}
.tabs.secondary a {
  text-decoration: none;
}
.tabs.secondary .is-active a {
  color: #fff;
}
.tabs.secondary a:focus {
  text-decoration: underline;
}

/* Styles for the horizontal state */
.is-horizontal .tabs.secondary .tabs__tab {
  border-bottom: 1px solid #777;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background: transparent;
  border-top: 0;
  padding: 0;
}
.is-horizontal .tabs.secondary .tabs__tab.is-active,
.is-horizontal .tabs.secondary .tabs__tab:hover,
.is-horizontal .tabs.secondary .tabs__tab:focus {
  border-bottom-color: #008ee6;
}

